html{
  height:100%;
  margin:0 auto;
  
}
body{
font-family:Montserrat;
  color:white;
  background:url("https://res.cloudinary.com/dnhwxgf8i/image/upload/v1480584537/architecture-1359707_1920_oetwqv.jpg") no-repeat;
  background-size:cover;
  background-position:center:
}
h1{
  font-size:55px;
  width:450px;
  margin-top: 10%;
  margin-left:10%;
 }
h3 a{
  position:absolute;
   margin-top:-40px;
  margin-left:13%;
  color:white;
  opacity:.5;
}
h3 a:hover{
  opacity:1;
}

.pulse {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  top:20%;
  left:10%;
}

.pulse:before,
.pulse:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pulse:before {
  background: #f2f2f2;
}

.pulse:after {
  opacity: .5;
  border: .1rem solid #f2f2f2;
  -webkit-animation: pulse 4s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
          animation: pulse 4s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
}

@-webkit-keyframes pulse {
  0% {
    width: inherit;
    height: inherit;
  }
  40% {
    opacity: 0;
    width: 6rem;
    height: 6rem;
  }
  100% {
    opacity: 0;
    width: 6rem;
    height: 6rem;
  }
}
.overlay{
  background:rgba(0,0,0,.5);
  width:100%;
  height:100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.navigation{
  margin-left:80%;
  top:30%;
}
ul,ol{
  list-style:none;
}
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}
.u-textLeft {
  text-align: left;
}
.slider-pagination {
  position: fixed;
  bottom: 6rem;
  right: 8.5rem;
  z-index: 99;
}
.slider-pagination__link {
    position: relative;
    display: block;
    opacity: .5;
    width: 6rem;
    padding: .5rem 0;
    color: #fff;
    font-size: 1.2rem;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.slider-pagination__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 3rem;
  height: .2rem;
  background: #f2f2f2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.slider-pagination__link:hover,
.slider-pagination__link--is-active {
  opacity: 1;
}

.slider-pagination__link--is-active:after {
  width: 3.5rem;
}